<div class="container" *ngIf="user">
    <div class="row">
        <div class="col-12">
            <h3>Reset Password</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form name="resetPasswordForm" id="resetPasswordForm" #resetPasswordForm="ngForm" (ngSubmit)="resetPassword($event)">
                <div class="form-group row">
                    <label class="col-3 form-control-label" for="usernameReset">Username: </label>
                    <div class="col-9">
                        <input type="text" id="usernameReset" name="usernameReset" placeholder="{{user.username}}" class="form-control" readonly/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-3 form-control-label" for="oldPasswordReset">Old Password: </label>
                    <div class="col-9">
                        <input type="password" id="oldPasswordReset" name="oldPasswordReset" #oldPasswordReset="ngModel" [(ngModel)]="loginModel.password" class="form-control" required/>
                    </div>
                    <div *ngIf="isSubmitted && (!oldPasswordReset.valid )">
                        <span class="alert alert-danger">Old password field is required.</span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-3 form-control-label" for="newPasswordReset">New Password: </label>
                    <div class="col-9">
                        <input type="password" id="newPasswordReset" name="newPasswordReset" #newPasswordReset="ngModel" [(ngModel)]="newPassword" class="form-control" required/>
                    </div>
                    <div *ngIf="isSubmitted && (!newPasswordReset.valid )">
                        <span class="alert alert-danger">New password field is required.</span>
                    </div>
                </div>

                <div *ngIf="invalidCredential" class="form-group row">
                   <div class="col-12">
                        <span class="alert alert-danger">Invalid credentials. Please try again!</span>
                   </div>
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        <div class=" float-right">
                            <button type="submit" class="btn btn-primary mr-1">Reset</button>
                            <button type="reset" class="btn btn-warning ml-1">Cancel</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>