<div class="container" *ngIf="user">
    <div class="row">
        <h2>Edit Profile {{user.username}}</h2>
    </div>
    <div class="row">
        <div clas="col-12">
            <form name="editUserForm" id="editUserForm" #editUserForm="ngForm" (ngSubmit)="editProfile($event)">
                <fieldset>
                    <div class="form-group row">
                        <label class="col-3 form-control-label font-weight-bold" for="usernameEdit">Username:</label>
                        <div class="col-9">
                            <input type="text" id="usernameEdit" name="usernameEdit" placeholder={{user.username}}
                                 class="form-control" readonly />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 form-control-label font-weight-bold" for="firstNameEdit">First Name:</label>
                        <div class="col-9">
                            <input type="text" id="firstNameEdit" name="firstNameEdit"
                                placeholder="{{user.firstName}}"
                                [(ngModel)]="userEdit.firstName" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 form-control-label font-weight-bold" for="lastNameEdit">Last Name:</label>
                        <div class="col-9">
                            <input type="text" id="lastNameEdit" name="lastNameEdit"
                                placeholder="{{user.lastName}}"
                                [(ngModel)]="userEdit.lastName" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 form-control-label font-weight-bold" for="emailEdit">Email:</label>
                        <div class="col-9">
                            <input type="text" id="emailEdit" name="emailEdit"
                                placeholder="{{user.email}}"
                                [(ngModel)]="userEdit.email" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 form-control-label font-weight-bold" for="mobileEdit">Mobile:</label>
                        <div class="col-9">
                            <input type="text" id="mobileEdit" name="mobileEdit"
                                placeholder="{{user.mobile}}"
                                [(ngModel)]="userEdit.mobile" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12">
                            <div class=" float-right">
                                <button type="submit" class="btn btn-primary mr-1">Edit</button>
                                <button type="reset" class="btn btn-warning ml-1">Reset</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="row">
        <a routerLink="" class="btn btn-primary">&lt;Back to Home</a>
    </div>
</div>